html,
body {
    height: 100%;
}

div.followee {
    padding-top: 15px;
    padding-bottom: 15px;
}

div.followee > .avatar-block {
    text-align: center;
    padding-bottom: 15px;
}


div.followee > .link-block {
    text-align: center;
}